.project-category {
  width: 100%;
  padding: 30px 20px;
}

.project-category div {
  width: 80%;
  height: 0;
  border: 1px solid black;
}

.project-category h1 {
  font-weight: 800;
}

.project-category p {
  font-size: 16px;
  word-break: keep-all;
  line-height: 1.8;

  @media (max-width: 800px) {
    font-size: 13px;
  }
}

.project-block {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.project-block-reverse {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  flex-direction: row-reverse;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.project-content {
  width: 100%;
  height: auto;
  padding: 20px;

  @media (max-width: 1200px) {
    padding-top: 60px;
    padding-left: 20px;
  }
  @media (max-width: 600px) {
    width: 90%;
    padding: 40px 0 0 0;
  }
}

.project-content h3 {
  font-size: 15px;
  word-break: keep-all;
}

.project-content h2 {
  word-break: keep-all;
  font-family: "Rubik";
  @media (max-width: 600px) {
    font-size: 20px;
  }
}

.project-content p {
  line-height: 1.5;
  font-size: 15px;
  color: grey;

  @media (max-width: 600px) {
    font-size: 14px;
  }
}

.project-icon {
  color: #ffc900;
}

.laptop {
  border: 8px solid black;
  border-top: 12px solid black;
  border-bottom: 12px solid black;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  position: relative;
  background: #ecf0f1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 60px;
  position: relative;

  @media (max-width: 600px) {
    border: 5px solid black;
    border-top: 9px solid black;
    border-bottom: 9px solid black;
  }
}

.project-img-button {
  position: absolute;
  top: calc(50% - 12px);
  left: -45px;
  font-size: 27px;
  cursor: pointer;

  @media (max-width: 600px) {
    font-size: 23px;
    left: -40px;
  }
  @media (max-width: 400px) {
    left: -33px;
  }
}

.project-img-button.right {
  left: auto;
  right: -45px;

  @media (max-width: 600px) {
    right: -40px;
  }
  @media (max-width: 400px) {
    right: -33px;
  }
}

.keyboard {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
  height: 30px;
  z-index: 2;

  @media (max-width: 600px) {
    width: 125%;
    bottom: -38px;
  }
}

.keyboard-top {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  height: 20px;
  clip-path: polygon(9% 0, 91% 0, 100% 100%, 0% 100%);
  background-color: rgb(73, 73, 73);
  border-radius: 3px;
  background-image: linear-gradient(rgb(109, 109, 109) 1px, transparent 1px),
    linear-gradient(100deg, rgb(109, 109, 109) 1px, transparent 1px);
  background-size: 8px 8px, 8px 8px;
  background-position: -1px -1px, -1px -1px;

  @media (max-width: 600px) {
    width: 97vw;
  }
  @media (max-width: 500px) {
    width: 96vw;
  }
  @media (max-width: 400px) {
    width: 95.5vw;
    height: 10px;
    clip-path: polygon(8% 0, 92% 0, 100% 100%, 0% 100%);
  }
  @media (max-width: 300px) {
    width: 94vw;
    clip-path: polygon(7% 0, 93% 0, 100% 100%, 0% 100%);
  }
  @media (max-width: 250px) {
    width: 93vw;
  }
}

.keyboard-bottom {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 550px;
  height: 10px;
  background: black;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

  @media (max-width: 600px) {
    width: 99%;
    height: 7px;
  }
}

/* 1200 x 660 */
.laptop-img {
  width: 440px;
  aspect-ratio: 1 / 0.55;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

  @media (max-width: 600px) {
    width: 78vw;
  }
}

.project-skill {
  width: auto;
  background-color: #dcf2f1;
  border-radius: 5px;
  border: 2px solid black;
  margin: 5px;
  padding: 3px 6px;
  font-size: 14px;
  font-weight: 500;
}

.icon-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.icon img {
  width: 100%;
  height: 100%;
  transition: all 0.2s ease;
}

.icon:hover img {
  width: 35px;
  height: 35px;
  transition: all 0.2s ease;
}

.content-container.sideProject {
  @media (max-width: 1200px) {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}

.sideProject-block {
  width: 330px;
  height: 230px;
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 5px;
  position: relative;
  box-shadow: 0 0 3px lightgray;
  border-radius: 40px 80px / 80px 40px;

  @media (max-width: 500px) {
    width: 80%;
    height: 200px;
  }
}

.sideProject-block img {
  width: 100%;
  transition: transform 0.3s ease;
}

.sideProject-block:hover img {
  transform: scale(1.05);
}

.sideProject-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  box-sizing: border-box;
  transition: transform 0.1s linear, opacity 0.1s linear;
  transform: translateY(100%);
}

.sideProject-description p {
  margin: 10px;
  font-size: 13px;
  word-break: keep-all;
}

.choose-block {
  width: 550px;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px;

  @media (max-width: 1200px) {
    flex-direction: column;
    justify-content: start;
    width: 80%;
    height: auto;
    margin: 20px 0;
  }
}

.reverse {
  flex-direction: row-reverse;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}

.reverse p {
  text-align: end;
}

.reverse h2 {
  width: 100%;
  text-align: end;

  @media (max-width: 1200px) {
    align-items: center;
  }
}

.choose-block .description {
  width: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 10px;

  @media (max-width: 1200px) {
    width: 100%;
    align-items: center;
  }
}

.choose-block .description.reverse {
  align-items: flex-end;
}

.choose-block .description h2 {
  color: #ff6f61;
  margin: 5px;
  font-size: 19px;

  @media (max-width: 1200px) {
    text-align: center;
  }
  @media (max-width: 600px) {
    font-size: 21px;
  }
}

.choose-block .description p {
  margin: 5px;
  line-height: 1.4;
  color: black;
  font-size: 15px;

  @media (max-width: 1200px) {
    text-align: center;
    font-size: 13px;
  }
}

.choose-block .img {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choose-block .img img {
  width: 100%;
}

.choose-block .after {
  display: none;
}

.choose-block:hover .after {
  display: block;
}

.choose-block:hover .before {
  display: none;
}

.dots-container {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -25px;
  left: 50%;
  transform: translate(-50%, 0);

  @media (max-width: 600px) {
    bottom: -10px;
  }
}

.dot {
  width: 7px;
  height: 7px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: black;
}
