@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    height: calc(var(--vh, 1vh) * 100);
}

body {
    font-family: $font-family-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $gray-50;
    color: $gray-900;
    overflow-x: hidden;
}

#root {
    width: 100%;
    min-height: calc(var(--vh, 1vh) * 100);
}
