.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  z-index: 5000;
}

.logo {
  padding: 0 20px;
  z-index: 6000;
}

.logo a {
  font-size: 40px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  @media (max-width: 800px) {
    font-size: 30px;
  }
}

.pc-menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-right: 50px;

  @media (max-width: 800px) {
    display: none;
  }
}

.pc-menu li {
  list-style: none;
  padding: 0 20px;
  font-size: 15px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  z-index: 6000;
}

.pc-menu li:hover {
  color: #ffc900;
}

#menu-toggle {
  display: none;
}

.menu-button {
  z-index: 6000;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 100%;
  cursor: pointer;
  position: relative;
  right: 20px;
}

.menu-button .line {
  display: block;
  width: 100%;
  height: 3.5px;
  border-radius: 10px;
  background-color: #fff;
}

.menu-button .line1 {
  transform-origin: 0% 0%;
  margin-bottom: 5px;
  transition: transform 0.3s ease-in-out;
}

.menu-button .line2 {
  transition: transform 0.2s ease-in-out;
}

.menu-button .line3 {
  transform-origin: 0% 100%;
  margin-top: 5px;
  transition: transform 0.3s ease-in-out;
}

#menu-toggle:checked + .menu-button .line1 {
  transform: rotate(45deg);
}

#menu-toggle:checked + .menu-button .line2 {
  transform: scaleY(0);
}

#menu-toggle:checked + .menu-button .line3 {
  transform: rotate(-45deg);
}

.navbar__menu--mobile {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100%;
  background-color: black;
  z-index: 4900;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
  overflow: hidden;
}

.navbar__menu--mobile.open {
  transform: translateY(0);
}

@media (max-width: 800px) {
  .menu-button {
    display: flex;
  }

  .navbar__menu--mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 4900;
  }

  .navbar__menu--mobile.open {
    transform: translateY(0);
  }

  .navbar__menu--mobile ul {
    padding: 0;
    margin-top: 40px;
  }

  .navbar__menu--mobile li {
    opacity: 1;
    color: white;
    padding: 10px 20px;
    transform: translateY(-20px);
    animation: none;
    list-style: none;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
