#contactHref {
  text-decoration: none;
  color: black;
}

.contactCard {
  width: 200px;
  height: 300px;
  box-shadow: 0px 0px 10px 0px grey;
  border-radius: 5px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contactImg {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contactImg img {
  width: 100%;
  object-fit: cover;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc900;
  padding: 40px 0;
}

#footer a {
  font-size: 45px;
  font-weight: 700;
  color: black;
  margin: 10px;
  cursor: pointer;
}

#footer p {
  color: black;
  font-size: 13px;
  font-weight: 500;
  margin: 5px;
}

.footer-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-img {
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.footer-img img {
  width: 70%;
  height: 70%;
  transition: all 0.2s ease;
}

.footer-img:hover img {
  width: 50px;
  height: 50px;
  transition: all 0.2s ease;
}
