@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --point: #6666ff;
  --font-spoqaHanSansNeo: "Spoqa Han Sans Neo", sans-serif;
  --font-fira-code: "Fira Code", monospace;
}

body {
  color: var(--foreground);
  background: var(--background);
  scroll-behavior: smooth;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

/* Webkit 기반 브라우저 (Chrome, Safari, Edge 일부) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--point);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox 지원 */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--point) transparent;
}

/* Microsoft Edge & Internet Explorer 대응 */
body,
html {
  -ms-overflow-style: none; /* IE, Edge에서 기본 스크롤바 숨기기 */

  @media (max-width: 900px) {
    font-size: 15px;
  }
  @media (max-width: 700px) {
    font-size: 14px;
  }
  @media (max-width: 600px) {
    font-size: 13px;
  }
  @media (max-width: 500px) {
    font-size: 12px;
  }
  @media (max-width: 400px) {
    font-size: 11px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
