@use "@/shared/styles/variables" as *;
@use "@/shared/styles/mixins" as *;

.deleteButton {
    display: inline-flex;
    align-items: center;
    gap: $base-size-4;
    background: #fff7f7;
    border: 0.5px solid $gh-border-danger;
    color: $gh-border-danger;
    font-size: 0.875rem;
    font-weight: $font-weight-medium;
    cursor: pointer;
    transition: all $transition-base;
    border-radius: 6px;
    padding: 6px 12px;

    &:hover {
        background: #ffeaea;
        border-color: $gh-border-danger;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    @include respond-to(md) {
        font-size: 0.75rem;
        padding: 4px 10px;
    }
}
