@use "variables" as *;
@use "mixins" as *;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $brand-black;
    color: $white;
    font-family: $font-family-sans;
    overflow-x: hidden;
    word-break: keep-all;
    transition: background-color $transition-base;
    @include custom-scrollbar();

    &.theme-light {
        background-color: $gray-50;
        color: $brand-black;

        &::-webkit-scrollbar-track {
            background: $gray-50;
        }

        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.2);

            &:hover {
                background: rgba(0, 0, 0, 0.3);
            }
        }
    }

    &.theme-dark {
        background-color: $brand-black;
        color: $white;

        &::-webkit-scrollbar-track {
            background: $brand-black;
        }

        &::-webkit-scrollbar-thumb {
            background: #333;

            &:hover {
                background: #444;
            }
        }
    }
}

.glass-panel {
    @include glass-panel();
}

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

::selection {
    background-color: $brand-purple;
    color: $white;
}

:focus-visible {
    outline: 2px solid $brand-purple;
    outline-offset: 2px;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:visited,
    &:active {
        color: inherit;
        text-decoration: none;
    }
}
