#home {
  background-color: black;
  height: calc(100vh - 60px);
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#home p,
#home h1,
#home h2,
#home span {
  color: white;
  position: relative;
}

#home p {
  font-size: 30px;
}

#home h1 {
  font-size: 50px;
}

#home h2 {
  font-size: 20px;

  @media (max-width: 300px) {
    font-size: 15px;
  }
}

@keyframes moveYellowLight {
  0% {
    transform: translate(0%, 0%) scale(1);
  }
  25% {
    transform: translate(50%, 50%) scale(1.5);
  }
  50% {
    transform: translate(-30%, 100%) scale(0.5);
  }
  75% {
    transform: translate(50%, 130%) scale(1.2);
  }
  100% {
    transform: translate(0%, 180%) scale(2);
  }
}

@keyframes moveBlueLight {
  0% {
    transform: translate(0%, 0%) scale(1.5);
  }
  25% {
    transform: translate(-50%, 50%) scale(1);
  }
  50% {
    transform: translate(-30%, -100%) scale(0.5);
  }
  75% {
    transform: translate(-50%, 130%) scale(0.8);
  }
  100% {
    transform: translate(0%, 180%) scale(1.5);
  }
}

.light {
  width: 200px;
  height: 200px;
  pointer-events: none;
}

.yellow-light {
  position: absolute;
  top: 0%;
  left: 0%;
  background: radial-gradient(
    circle at center,
    rgb(252, 252, 129),
    transparent 70%
  );
  animation: moveYellowLight 10s infinite alternate ease-in-out;
}

.blue-light {
  position: absolute;
  top: 25%;
  right: 0%;
  background: radial-gradient(
    circle at center,
    rgb(136, 136, 254),
    transparent 70%
  );
  animation: moveBlueLight 10s infinite alternate ease-in-out;
}

.cursor {
  display: inline-block;
  margin-left: 5px;
  opacity: 1;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
