@use "@/shared/styles/variables" as *;
@use "@/shared/styles/mixins" as *;

.landingPage {
    min-height: 100vh;
    background: $brand-black;
    color: $white;
    position: relative;

    &::selection {
        background: $brand-purple;
        color: $white;
    }
}

